html, body {
    height: 100%;
}

header {
    height: 40px;
    width: 100%;
    line-height: 40px;
    position: fixed;
    top: 0;
}

header a {
    color: #000;
}

footer {
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
}

footer a {
    color: #5f6368;
}

.testing {
    margin: 10px 0;
}

.content {
    height: 100%;
    width: 100%;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    flex-direction: column;
}

.container {
    display: -webkit-flex;
    display: flex;
}

.split {
    justify-content: space-between; 
}

.outersearchbar {
    border-radius: 50px;
    width: 600px;
    border: 1px solid #dfe1e5;
    padding: auto 0;
    height: 40px;
}

.outersearchbar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.center {
    justify-content: center;
}

.innersearchbar {
    width: 70%;
    margin: 0 auto;
    flex: 100%;
    padding: 0 5px;
}

.whole {
    flex: 100%;
    background: transparent;
    height: 40px;
}

.middlesearchbar {
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

input {
    border: 0;
}

input:focus {
    outline: none;
}

.linkSpace {
    margin-left: 17px;
    padding: 0 10px;
}

.linkRight {
    margin-right: 28px;
}

.button {
    padding: 9px 12px;
    margin: 0 5px;
    background-color: #f2f2f2;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    z-index: 999999 !important;
    font-size: 14px;
}

.button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.icon {
    margin: auto 5px;
}