html, body {
    height: 100%;
}

header {
    height: 40px;
    width: 100%;
    line-height: 40px;
    position: fixed;
    top: 0;
}

footer {
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
}

.testing {
    margin: 10px 0;
}

.content {
    height: 100%;
    width: 100%;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    flex-direction: column;
}

.container {
    display: -webkit-flex;
    display: flex;
}

.split {
    justify-content: space-between; 
}

.outersearchbar {
    border-radius: 50px;
    width: 600px;
    border: 1px solid black;
    padding: 10px 0;
}

.center {
    justify-content: center;
}

.innersearchbar {
    width: 70%;
    margin: 0 auto;
}

.middlesearchbar {
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

input {
    border: 0;
}

input:focus {
    outline: none;
}

.linkSpace {
    padding-left: 27px;
    margin: 0 !important;
}

.linkRight {
    margin-right: 28px;
}
